body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  text-decoration: none;
  color: black;
  transition: 0.2s;
}

nav {
  display: flex;
  flex-direction: row;
  gap: 30px;
  margin: 0;
  padding: 0;
}

body, html, #root, .container {
  height: 100%;
}

#root {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.ico_link:hover path,
.ico_link:focus path {
    fill: #E90154;
}